
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div *ngFor="let produto of produtos" class="col">
      <div class="card shadow-sm">
        <img width="100%"  src="assets/img/Exemplo.png" >

        <div class="card-body">
          <p class="card-text">{{produto.nomeprod}}</p>
          <p class="card-text">{{produto.descricao}}</p>
          <h4 *ngIf="!produto.ativo ">produto desativado</h4>
          <h4 *ngIf=" produto.quantidade <= 0">fora de estoque</h4>
          <div class="d-flex justify-content-between align-items-center">
           
            <div class="btn-group">
              <button *ngIf="rota == 'home'"   type="button" class="btn btn-primary" (click)="comprar(produto.id_produto)">Comprar</button>
              <button *ngIf="rota == 'gerencia' && produto.ativo && isAdmin()" (click)="desativar(produto.id_produto)"  type="button" class="btn btn-danger">Desativar</button>
              <button *ngIf="rota == 'gerencia' && !produto.ativo && isAdmin()" (click)="ativar(produto.id_produto)"  type="button" class="btn btn-danger">Ativar</button>
              <button *ngIf="usuarioLogado && isAdmin()" 
                type="button" class="btn btn-sm btn-outline-secondary"
                routerLink="/editar/{{produto.id_produto}}">
                Editar
              </button>
              <!-- *ngIf -->
            </div>
             <small class="text-muted">quantidade: {{produto.quantidade}}</small> 
          </div>
        </div>
      </div>
    </div>
  </div>

