<app-headers></app-headers>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      
      <h1>Editar Produto: </h1>
      <form class="form" (ngSubmit)="Submit()" [formGroup]="produtoform" #formDir="ngForm">
          
          <div class="form_grupo">
              <label for="nome" class="form_label">Nome</label>
              <input type="text" name="nome" class="form_input" id="nome" placeholder="Nome" formControlName="nomeprod" >
          </div>
          <div *ngIf="nomeprod.invalid && formDir.submitted" class="validation-error">
            <p>O titulo é obrigatório</p>
          </div>
          
          <div class="form_grupo" >
              <label for="preco" class="form_label">Preço</label>
              <input type="number" name="preco" class="form_input" id="preco" placeholder="0.00" formControlName="preco" >
          </div>
          <div *ngIf="preco.invalid && formDir.submitted" class="validation-error">
            <p>O preço é obrigatório</p>
          </div>
          
          <div class="form_grupo">
              <label for="quantidade" class="form_label">Quantidade</label>
              <input type="number" name="quantidade" class="form_input" id="quantidade" placeholder="Quantidade" formControlName="quantidade" >
          </div>   
               
        
          <div class="form_grupo">
                                     
              <div>                  
                  <label for="Descricao" class="form_message_label"> Digite a descrição do produto:</label>
                  <textarea  rows="3" class="form_input message_input" formControlName="descricao" ></textarea>
              </div>

              <div class="form_grupo">
                <label for="image" class="form_label">Imagem do produto: </label>
                <input type="file" (change)="onFileSelected($event)">
            </div>      


              <div class="submit">

                <input type="hidden" name="acao" value="enviar">
                <button class="voltar" type="submit" name="voltar"  >Voltar</button>

                <input type="hidden" name="acao" value="enviar">
                <button type="submit" name="Submit" class="submit_btn" [disabled]="formDir.form.invalid" >Cadastrar</button>
              
              </div>
     
      
    </div>


  