<nav>
  <a class="logo" routerLink="">
    <img src="assets/img/icon.png" >
  </a>


 <form>
  
  <input  placeholder="Pesquise por um produto..." class="input" name="text" type="text" (input)="search($event)" > 

 </form> 
  
  <ul class="links" >
    <li *ngIf="rota != 'home'"><a  routerLink="" >Home</a></li>
    <li *ngIf="!getUser()" ><a routerLink="/login" >Login</a></li>
    <li *ngIf="getUser()" ><a  (click)="sair()"  >Sair</a></li>
    <li *ngIf="usuarioLogado && isAdmin()"><a  routerLink="/cadastroProduto" >Gerenciar Produtos</a></li>
    <li *ngIf="usuarioLogado && isAdmin()" ><a routerLink="/compras/{{usuarioLogado.id_usuario}}" >Vendas</a></li>
    <li *ngIf="usuarioLogado && !isAdmin() " ><a routerLink="/compras/{{usuarioLogado.id_usuario}}" >Compras</a></li>
    <li *ngIf="usuarioLogado"  ><a routerLink="/editarConta/{{usuarioLogado.id_usuario}}" >{{usuarioLogado.nome}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg></a></li>
  </ul>

</nav>

